 body {
        width: 100%;
        overflow: hidden;
        background-color: #D8D5D2;
      }
      #header {
        width: 100%;
        height: 100px;
        background:url(../image/head_bg.png);
        position:absolute;
        top: 0;
        left: 0;
      }
      /* STEP 2: 頂部選單 */
      #header ul {
        width: 100%;
      }
      #header li {
        float: left;
      }
      #header li a{
        padding: 20px 5px 0 60px;
        text-align: center;
        height: 40px;
        width: 180px;
        display: block;
        font-size: 18px;
        letter-spacing: 2px;
        color: #000000;
        font-weight: bold;
        text-decoration: none;
      }
      /* SETP3:  頂部選單細部設計 */
      #header ul li:after{
      
        display:block;
        background: url(../image/line.png) top center;
        background-repeat: repeat;
        width: 10px;
        height: 42px;
        margin-top:-45px ;
      }

      a,p {
        font-family:;
        font-family: "微軟正黑體";
      }
      #header ul li a:hover{
        color: #FF6600;
      }
      /* STEP4: 主佈局設計 */
      #wrapper {
        //width: 100%;
        //height: 100%;
        //position: absolute;
        overflow: hidden; /* VERY IMPORTANT */
      }
      #mask {
        width: 500%; height: 100%
      }
      .box {
       width: 20%;
       height: 100%;
       float: left;
      }
      .content {
        width: 1000px;
        top: 13%;
        margin: 0 auto;
        position: relative;
        /*border: 1px #0CF solid;*/
      }
      /* 水平垂直置中 */
      .content .text {
        font-size: 3em;
        width: 300px; height: 100px; 
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
      }
      .item {
        width: 150px;
        margin: 10px;
        float: left;
      }
      .item img{
        width:150px;
      }

#abgne_float_ad {
  display: none;
  position: absolute;
}
#abgne_float_ad img {
  border: none;
}

.img_right{
  padding-top: 10%;
  padding-right: 5%;
  float: right;
}

.img_left{
  padding-top: 20%;
  padding-left: 5%;
  float: left;
}